
<div class="row">
  {{ form_start(form) }}
  <div class="col s12 m2">
    {{form_label(form.budgetCodeNumber)}}
    {{ form_widget(form.budgetCodeNumber) }}
  </div>

  <div class="col s12 m8">
    {{form_label(form.name)}}
    {{ form_widget(form.name) }}
  </div>
</div>
  <button type="submit" name="submit" class="btn">Add</button>
{{ form_end(form) }}
