<div id="form-wrapper">
  {{ form_start(form) }}
  <div class="row">
      <div class="col s12 m6">
        {{form_row(form.financialValue)}}
      </div>
      <div class="col s12 m6">
        {{form_row(form.dateGiven)}}
      </div>
  </div>

  <div class="row">
    <div class="col s12">
      {{ form_row(form.description) }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      {{ form_row(form.parent) }}
    </div>

    <div class="col s12 m8">
      <div class="file-field input-field">
        <div class="btn">
          <span>(Optional) Upload Image</span>
          {{ form_widget(form.media) }}
        </div>

        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s12">

      {{ form_row(form.tags) }}



      <!-- <button class="btn" type="button" id="testButton" name="test">Test Input</button> -->

    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      {% include 'AppBundle:user/form:clickable_tags.html.twig' with {'tags': suggestedTags} %}
    </div>
  </div>

  <button type="submit" name="submit" class="btn">Add</button>
  {{form_end(form)}}


</div>
