<h5 class="light">Suggested Tags (click to add)</h5>
{% for tag in tags.suggested %}
    {% if tag.budgetCode and tag.budgetCodeNumber is not null and tag.budgetCodeNumber > 0 %}
    <a data-tag="{{tag.name}}" href="#Suggested Tags" class="chip add-tag">({{tag.budgetCodeNumber}}) {{tag.name}}</a>

    {% else %}
    <a data-tag="{{tag.name}}" href="#Suggested Tags" class="chip add-tag">{{tag.name}}</a>

    {% if loop.last %}
      <a href="#SuggestedTags" class="hidden-toggle">More…</a>
    {% endif %}

    {% endif %}

{% else %}
    <p>
      No tag suggestions yet, add some tags or budget codes to start seeing suggestions here!
    </p>
{% endfor %}

<div id="more-tags" class="hidden">
{% for tag in tags.overflow %}
    {% if tag.budgetCode and tag.budgetCodeNumber is not null and tag.budgetCodeNumber > 0 %}
    <a data-tag="{{tag.name}}" href="#Suggested Tags" class="chip add-tag">({{tag.budgetCodeNumber}}) {{tag.name}}</a>

    {% else %}
    <a data-tag="{{tag.name}}" href="#Suggested Tags" class="chip add-tag">{{tag.name}}</a>

    {% endif %}

{% else %}
    <p>
      No tag suggestions yet, add some tags or budget codes to start seeing suggestions here!
    </p>
{% endfor %}
</div>
