{{form_start(mapping_form)}}

{{form_label(mapping_form.isIncome)}}
{{form_widget(mapping_form.isIncome)}}

<br> <br>

{{form_widget(mapping_form)}}
<br>
<br>
  <button type="submit" name="button" class="btn">Import</button>
{{form_end(mapping_form)}}
