{{ form_start(form) }}
<div class="row">
  <div class="col s12 m12">
    {{form_row(form.name)}}
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    {{ form_row(form.scopeStart) }}
  </div>

  <div class="col s12 m6">
    {{ form_row(form.scopeEnd) }}
  </div>
</div>

<div class="row">
  <div class="col s12 m4">
    <div>
      {{form_widget(form.includeExpenses)}}
      {{form_label(form.includeExpenses)}}
    </div>

    <div>
      {{form_widget(form.includeIncome)}}
      {{form_label(form.includeIncome)}}
    </div>

  </div>

  <div class="col s12 m4">
    <div>
      {{form_widget(form.includeImages)}}
      {{form_label(form.includeImages)}}
    </div>

    <div>
      {{form_widget(form.includeLocations)}}
      {{form_label(form.includeLocations)}}
    </div>

  </div>

  <div class="col s12 m4">
    <div>
      {{form_widget(form.includeTags)}}
      {{form_label(form.includeTags)}}
    </div>
    <div>
      {{form_widget(form.includeQuotes)}}
      {{form_label(form.includeQuotes)}}
    </div>
  </div>

</div>

<div class="row">
  <div class="col s12 m6">
    <div>
      {{form_widget(form.includeGrantWorkSummary)}}
      {{form_label(form.includeGrantWorkSummary)}}
    </div>
    <div>
      {{form_widget(form.includeGrantCostSummary)}}
      {{form_label(form.includeGrantCostSummary)}}
    </div>
  </div>
</div>


<button type="submit" name="submit" class="btn">Generate</button>

{{ form_end(form) }}
