{{ form_start(form) }}
<div>
  {{form_widget(form.timelineEnabled)}}
  {{form_label(form.timelineEnabled)}}
  <p class="light">
    If you check this box, every post you make in the system will be made available. <strong>This is turned off by default</strong>. If turned on, individual posts are shown in a social media style feed on your profile page. When turned off, individual posts still become available <em>when they are released in a report by you</em>, but are otherwise invisible to people looking at your profile.
  </p>
</div>
<br> <br>
<button type="submit" name="submit" class="btn">Apply</button>
{{ form_end(form) }}
