
{{form_start(fund.form_view)}}
<div class="row">
  <div class="col s12 m6">
    {{form_widget(fund.form_view)}}

  </div>

</div>
<div class="row">
  <div class="col s12 m6">
    <button class="btn" type="submit" name="submit">Add Cost</button>

  </div>
</div>

{{form_end(fund.form_view)}}
