<form action="{{url('add_post_costing')}}" method="post">
  <input type="hidden" name="parent-id" value="{{parent}}">
  <div class="row">
    <div class="col s12 m6">

      <select class="browser-default" name="child-id">
        {% for item in uncosted_posts %}
        <option value="{{item.id}}">{{item.description}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
          <button class="btn" type="submit" name="submit">Add Cost</button>

    </div>
  </div>

</form>
