{{ form_start(form) }}
<div class="row center">
  <div class="col s12 m4">
    {{form_row(form.save_and_keep_private)}}
  </div>

  <div class="col s12 m4">
    {{form_row(form.save_and_make_public)}}
  </div>

  <div class="col s12 m4">
    {{form_row(form.remove)}}
  </div>
</div>

{{ form_end(form) }}
