{{form_start(form)}}

<div class="row">
  <div class="col s12 m4">
    {{form_widget(form)}}
  </div>
</div>

<button class="btn" type="submit" name="button">Update Password</button>

{{form_end(form)}}
