<table class="table bordered">
<thead>
  <th>
    Date Created
  </th>
  <th>
    Name
  </th>

  <th>
    Public / Private
  </th>

  <th>
    Actions
  </th>
</thead>

<tbody>
  {% for report in reports %}
    {% if report.isReviewed %}
    <tr>

      <td>
        {{report.dateGenerated|date('m/d/Y')}}
      </td>

      <td>
        {{report.name}}
      </td>

      <td>
        {% if report.isPublic %}

        <span class="green-text">Public</span>
        {% else %}
            Private
        {% endif %}
      </td>

      <td>
        <a class="btn" target="_blank" href="{{url('view_report_page', {'id': report.id})}}">View</a>
      </td>
    </tr>
  {% endif %}
  {% endfor %}
</tbody>
</table>
