<span class="card-title"> {{quotes.total}} Quotes</span>

<div id="quotes-carousel" class="center green carousel" data-indicators="true">

  {% for quote in quotes.quotes %}

  <div class="carousel-item white-text" href="#one!">
    <h5 class="light white-text center">"{{quote.content}}"
      {% if quote.attribution is not null %}
      &mdash; <em>{{quote.attribution}}</em>
      {% endif %}
    </h5>
  </div>
  {% endfor %}


</div>
