<div class="card">
  <div class="card-content">


    <p>
      Reporting on activity between {{report.scopeStart|date("d/m/Y")}} and {{report.scopeEnd|date("d/m/y")}}
    </p>

    {% if report.isPublic %}
      <p class="green-text">
        This report is public
      </p>
    {% else %}
        <p class="orange-text">
          This report is private and can only be seen by you
        </p>
    {% endif %}

    <h2 class="light">At a glance…</h2>
    {% include 'AppBundle:report:report-glance.html.twig' with {'data': report_data.at_a_glance} %}

    {% if report.includeImages %}
      {% include 'AppBundle:report:report-gallery.html.twig' with {'gallery': report_data.gallery} %}
    {% endif %}

    {% if report.includeLocations %}
      {% include 'AppBundle:report:report-events.html.twig' with {'events': report_data.events, 'count': report_data.at_a_glance.location_count} %}
    {% endif %}

    {% if report.includeQuotes %}
      {% include 'AppBundle:report:report-quotes.html.twig' with {'quotes': report_data.quotes} %}
    {% endif %}

    {% if report.includeIncome %}
      {% include 'AppBundle:report:report-income.html.twig' with {'data': report_data.income_summary} %}
    {% endif %}

    {% if report.includeGrantWorkSummary and report.includeGrantCostSummary %}
    <div class="row">
      <div class="col s12 m6">
        {% include 'AppBundle:report:report-grant_work.html.twig' with {'data': report_data.grant_work_summary} %}
      </div>

      <div class="col s12 m6">
        {% include 'AppBundle:report:report-grant_cost.html.twig' with {'data': report_data.grant_cost_summary} %}
      </div>
    </div>
    {% else %}
      {% if report.includeGrantWorkSummary %}
        {% include 'AppBundle:report:report-grant_work.html.twig' with {'data': report_data.grant_work_summary} %}
      {% endif %}

      {% if report.includeGrantCostSummary %}
        {% include 'AppBundle:report:report-grant_cost.html.twig' with {'data': report_data.grant_cost_summary} %}
      {% endif %}

    {% endif %}



  </div>
</div>
