<span class="card-title">{{count}} Events</span>

<table>
  <thead>
    <th>
      Date
    </th>
    <th>
      Description
    </th>
    <th>
      Location
    </th>
  </thead>
  <tbody>
    {% for event in events %}
      <tr>
        <td>
          {{event.date|date('d M Y')}}
        </td>
        <td>
          {{event.description}}
        </td>
        <td>
          {{event.location}}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
