<span class="card-title">Summary of Costs to Grants</span>

{% for item in data %}
  <p>
    A total of <span class="green-text">{{item.cost|fintotal}}</span> was costed to <strong>{{item.name}}</strong> <br>
  </p>

{% endfor %}
