<span class="card-title">Summary of Work by Grant</span>

{% for item in data %}
  <p>
    <strong>{{item.name}}</strong> <br>
    {% for tag in item.tags %}
      <div class="chip">
      {{tag.name}}
      </div>

      {% else %}
          <span class="light">Nothing here!</span>
    {% endfor %}
  </p>

{% endfor %}
