{% if data.expenditure_total is not null %}
<p class="light flow-text">
  We spent a total of {{data.expenditure_total|fintotal}}
</p>

{% endif %}



<p class="light flow-text">
  We worked mainly in the following areas:
  {% for tag in data.work_summary %}
  <span class="chip">
    {{tag.name}}
  </span>
  {% endfor %}
</p>


{% if data.location_count is not null %}
<p class="light flow-text">
  We ran {{data.location_count}} events
</p>
{% endif %}

{% if data.main_costs_summary is not null %}
<p class="light flow-text">
  The main costs associated with this are:
  {% for tag in data.main_costs_summary %}
  <span class="chip">{{tag.name}}</span>
  {% endfor %}
</p>
{% endif %}
