<span class="card-title">Income Summary</span>

<p class="light flow-text">
  Total: <span class="green-text">{{data.total|fintotal}}</span>
</p>

<table class="hover striped centered">
  <thead>
    <th>
      Amount
    </th>
    <th>
      Source
    </th>
    <th>
      Date
    </th>
  </thead>
  <tbody>
    {% for item in data.items %}
      <tr>
        <td>
          {{item.financialValue|fintotal}}
        </td>
        <td>
          {{item.customer.name}}
        </td>
        <td>
          {{item.dateGiven|date('d/m/Y')}}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
