{% filter markdown %}
The research procedure is straightforward and we hope that it does not impact too much on your day-to-day activities. If there are any questions about any part of the research please feel free to [email us](mailto:m.marshall@newcastle.ac.uk).

The research takes the form of an extended test of some experimental software (outlined above). Firstly, the lead researcher (Matt) will have a chat with you about participating and introduce you to the systems to get everyone set up. Afteer this, we have produced a series of small 'tasks' which will show you various aspects of the system. These are small things to complete weekly as we don't expect you to use the system full-time alongside your regular accounts, and are just designed to help you explore.  You are encouraged to use and play with the system outside of the tasks if you can. Each task will prompt you to think about a few things that we as researchers are currently interested in, but if anything else comes up during the task or if you find anything difficult; we're also very interested in that.

The research is expected to last around 6 - 8 weeks depending on how long you want to participate. At the start of each week, the lead researcher will email to keep you up to date with the current tasks and such, and will also organise a meeting or chat with anyone using the software. With your consent, each meeting will be audio-recorded and transcribed, and be used for research. **There is no tracking of usage in Rosemary or Accounting Scrapbook. We cannot see how or when you use the software**.

{% endfilter %}
