{% filter markdown %}
The idea behind these tasks is to guide you through the novel accounting system, to get you to explore and see what you think. Each Task you will be tasked with completing a small task which will usually involve entering data using Rosemary Accounts website or the Accounting Scrapbook app.

You should look to complete around two tasks a week, and at the end of each week Matt would like to organise a meeting to chat about how you found it. The first 8 tasks should take around 30 minutes to complete. The final tasks will take a few minutes a day, but shouldn't be completed in a single sitting -- instead lasting a whole Task.

If you have any questions at all, or if you need some support then please do not hesitate to email Matt at m.marshall@newcastle.ac.uk

### Set up Task
This task is designed to get you introduced to the system. Matt should sit down with you and walk you through both the Rosemary Accounts website and setting up the Accounting Scrapbook app.

*Things to think about*

* What are your hopes for the trial?
* Have you got any concerns going forward?
* Which workers are best suited to use the Accounting Scrapbook app?
* Any further questions?

### Task 1
This Task you'll get started uploading a few different types of information into Rosemary. We'll focus on 'Income' here.

First, you should log in to Rosemary. After this we should set up some information about customers and funders. Head to the 'Customers and Funders' screen under the Accounts tab.

In Rosemary, a 'Customer' is someone you sell services to (e.g. renting a space to them) whilst a 'Funder' is a funding body who gives you money in the form of grants. On this screen, you can add customers and funders to the system.

Select up to 5 funders from your own accounts *clarify*, and enter them into Rosemary. If you also have any customers, enter a few of those as well (although that's not essential for these tasks). After you've added them, check them under the 'Funders' and 'Customers' tabs on the same screen.

Next, head to the **Income** screen under the Accounts tab. This is where you can add income into your accounts. From your existing accounts in your own system, choose 5 pieces of income from  and copy them into the system using the form on the page. Try and make at least one of them a grant payment. When it comes to the 'Tags' part of the form, enter a few words that describe the money and what it's supposed to be used for. Remember to hit the 'Enter' key on the keyboard after each tag. Enter 2 or 3 tags for each item you fill out.

When you're done, you can check that the information you entered is there by looking under 'Total by Source' and 'All Income'.

*Things to think about*

* Was anything on the interface confusing or unclear?
* is 'Customers' and 'Funders' the right way to think about your income? If not, what would be useful?
* How did you find the use of tags? Did this make sense?
* Would you need to track anything about your income that isn't covered here?

### Task 2
In this task we'll get started with entering expenditure information into Rosemary.

We've found that most organisations and most accounting systems use Budget Codes to help describe outgoing money. Rosemary uses tags to allow you to describe all types of item, but there's no reason that budget codes can't be one of them. Head to the **Budget Codes and Tags** under the Accounts tab on the menu to begin.

On this screen, you add budget codes as well as look up tags. We're focusing on budget codes right now, so you don't need to worry about the other stuff yet. Underneath the 'Add a Budget Code' tab you'll notice there's a form to add new budget codes. From your own accounts, please enter 5 or so budget codes. The 'Code Number' field is optional -- so if your organisation doesn't use numbers for their code then you don't have to. Once you're done, move to the **Expenses** screen under the 'Accounts' menu on the menu bar.

On the **Expenses** screen, you can add outgoing money. Your task here is to choose 5 or so random examples from your existing accounts, and enter them into Rosemary using this form. You'll notice here that there is the option to allocate an expense to a fund or to leave it as Unrestricted. If this box is empty, then you need to add the Funds as **Income** which is covered in the previous task.

For each entry, remember to enter at least 5 tags that describe the expense -- remember that you can include your new budget codes here too. When you're done, go to the *Costing* page via the main menu (under Accounts). THis page allows you to 'cost' expenses against grants received. The grants are listed by funder, and then by grants. Each one should say how much is remaining in each grant. If you click a grant, it will expand to show you all the items that have been 'costed' to it. You can edit the costing at any time: under each grant there is a list of uncosted expenses which you can cost. Next to each costed item is the option to uncost it. Feel free to cost and recost any items you want, to get familiar with it. Once you're happy, the task is complete.

*Things to think about*

* How you do feel about entering the Budget Code information?
* Is expenses the right way to think about outgoing money?
* Is this adequate for all your needs ie bills, everyday expenses, staff salaries, etc?
* How does this compare to what you use now?
* Does the 'Costing' screen make sense? Is this the sort of thing that is useful?


### Task 3
This task presumes that your organisation keeps track of events that you run (e.g. play sessions or public meetings) with information such as quotes from benficiaries and images. If this doesn't apply to you, please read through the task and complete all that you can before moving on to the next task.

This task will get you familiar with the other types of information that you can enter into Rosemary, such as Quotes, Images, and Events. First, click **Activity** on the main menu. You'll notice that the last three options here are called 'Add an Image', 'Add a Quote', and 'Add an Event'.

First, head to *Add an Image*. On this screen you will see a form that allows you to upload an image, along with a description and some other information. Select 3 images at random from your collection and upload each one of them separately to the site. For each one, remember to add a description and please add at least 5 tags to each entry.

Next, head to *Add a quote* using the main menu. The form on this screen allows you to capture quotes from people that you may want to reuse later for other purposes. Please use the form to add at least 3 quotes into the system. If your organisation doesn't use quotes please feel free to enter some pretend quotes and imagine how you might use them. For each quote, please add at least 5 tags to describe it.

Lastly, head to *Add an Event*. This screen has a form which allows you to record events. These can be anything from internal meetings to public events that you run. On the screen, you can use the map to quickly select the location which should fill out the address in the box below it. Don't worry -- you can change the location name to keep it as broad or as specific as you'd like. Please add 3 events to the system using this form using real-life examples from your own organisation. Remember to add at least 5 tags to each event!

*Things to think about*

* How did you come up with your tags?
* What work was required to get the images into Rosemary? Did one person have them? Who took them? Did you need to transfer them to or from a specific computer?
* If your organisation uses quotes, what does it use them for?
* How did you choose the quotes to enter? Did you have them stored already, or did you need to make some up? If you had them stored, who had them and what did you need to do to get them?
* Was it easy to think of events to add? What sort of events did you choose?
* What sort of tags did you choose to add to the items? Were they different betweeen images, events, and quotes?
* Are there any other types of information you want to keep track of?

### Task 4
So far, you've added a few pieces of information to the Rosemary system in different forms. Through doing this, you've also engaged with the 'tags' field that is on the forms used to add information. Rosemary uses tags to help you describe information in any way you want -- and also to link information together. Two items (e.g. Income, Expenditure, Images, etc) which share the same tag are automatically linked, and when you search for that tag you can find all items attached with it. Head over to the *Budget Codes and Tags* page under Accounts, and then click on the *Tags* button.

You should see two things; a search box which lets you find items by tag, and a list of all of your tags currently in Rosemary. The numbers presented with each one let you know how many items are tagged with a particular way. Remember that an item can have as many tags as you need. Tags do not need to be created specially, but instead create themselves whenever you tag an item with something. If you use Budget Codes in your organisation, Rosemary lets you add these but in the background they're just tags that are special.

We chose to use tags because they're flexible, and let you describe your accounts and work in any way you want. Some organisations might want to create a tag to link together different events under a theme (e.g. 'Community Work'), some might create a tag to describe the use of a space (e.g. 'Play Centre') and thus track how much money goes in vs events being run. Some might want to use tags to track a particular set of work to help generate a report to a funder.

Your task now is very simple -- look over the tags you've created already, and have a chat about the them with a few colleagues. Think about the following things.

* What tags did you create, and how did they relate to the items?
* Are there any tags that appear more than once? Which ones?
* What tags would you create to describe your organisation? Would you use these in different types of item?

### Task 5
We're going to turn our attention to the *Accounting Scrapbook* phone app and this task is for the people using it. This is a prototype application for Android phones that tries to make data collection easier for keeping accounts like these. Whereas it might be impractical to have multiple people use a full accounts system (like Rosemary), it might help if others are able to collect data around work and spending too. Matt should have had a discussion with you and your staff around who will be using the app, and should have installed it on phones for you to use. This task is for as many people as possible with the app to complete.

Open the app on your phone, and it should automatically detect that this is the first run and open up the 'New Scrapbook' screen. In *Accounting Scrapbook*, a scrapbook is simply a collection of items (e.g. expenses, photos, events, etc) that relate to each other e.g. "Community Work" or an event. For this example, create a scrapbook called "Test". You can also select a colour for the scrapbook, which helps you find it easier at a glance. Scrapbooks also have 'tags' which are words that help describe what the scrapbook is about. For this example, you can use the tags "example" and "testing".


After you've created your first scrapbook, you're taken to the main screen of the app. From here you can add a new scrapbook with the '+' button, and if you swipe from the left the menu will open. You can use this menu to add different types of information: Images such as photos of events or achievements; Spends (e.g. expenses or buying equipment); Quotes from beneficiaries you might want to save for later use; and Events you might want to record too such as a community pizza night or a play session. Adding items is fairly straightforward, you select the type of item from the menu and then you can enter some information about that item. Images are added by selecting them via the gallery on your phone, and the Events type will bring up a map for you to add the location to (or use your current location if you want). You can select the date and time of the item if you want to back-date it as well. As before, there's also a field to add tags to the item that describe it. For each item you can add as many tags as you want, for example an expense of "£9.99" for "potatoes" might be tagged with a budget code, "play centre", "cooking" and "picnic" to describe it.

The most important part about adding items to scrapbooks is this: an item can be added to any number of scrapbooks you want. You might have one scrapbook for expenses, and one for a recurring event such as a community meal. To use our potatoes example above, it can be added to both the "Expenses" scrapbook and the "Community Meal" scrapbook.

For this part of the task, get familiar with the different types. Add one item of each type to our "Test" scrapbook. Use whatever tags you want, and don't worry about making the data 'real' -- you can use made-up things for this part. When you're done, look inside the 'Test' scrapbook from the main screen. You'll see that everything you added is there. You can swipe an item left or right to remove it from the scrapbook if you want. When you're done, go back to the main screen.

You can press the '+' button to create a new Scrapbook. From here you should create at least 3 different scrapbooks that would help you organise data about your organisation (e.g. "Project X" or "Community Work"). Make sure to add at last 5 tags to each scrapbook -- an example would be a scrapbook with called "Pizza Night" which has the tags "PizzaNight, YouthWork, outreach, Thursday, events". When you're done creating scrapbooks, add at least 4 different items to each one. Try to use as many different types of item as you can, and remember to add tags. When you're finished with this, you're done the task. Thank you!

*Things to think about*
* Is this sort of application useful for helping you organise things to send to the accounts people?
* How do you feel about the use of 'Scrapbooks'? Would another term be more useful?
* Are the different types of item appropriate? Are there any other types that would be useful?


### Task 6
Now that you're familiar with getting information into Rosemary and collecting data in Accounting Scrapbook, we're going to shift focus onto how they work together. The app is designed to work alongside Rosemary to help distribute the job of collecting accounts information, but because the app is designed to work without an account, we need to connect each phone to Rosemary.

This task is designed to get you started with the app. First, make sure that the app is installed on any phones that you want it to be on. Matt should have helped with this initial step, but the app is also available from https://openlab.ncl.ac.uk/accounting-scrapbook/ to download and install on Android phones if you want to install it yourself. Next, inside of Rosemary, go to the *Configure Apps* page underneath the Settings menu. There is a form here which lets you generate a 'code' to connect a phone to Rosemary. This code is required because it means that other people can't send information to Rosemary pretending to be you. A code also has a name which helps you identify who the code belongs to. You might want to use names such as "Matt" or "Matt's phone".

For every person who wants to connect to their phone to Rosemary (ideally at least 3), please complete the following steps:

**In Rosemary** create a code with an appropriate name (e.g. "Matt" or "Matt's phone"). You should see the code appear in the table below when you're complete. There will be two buttons, to scan code or delete. Click *Scan Code* to see a pop-up appear with a QR code.

**In Accounting Scrapbook** click the top-right hand button and then select *Settings*. This page lets you add services to share data to, with the idea that in the future there may be different services existing. For now, only Rosemary exists. Click the *Scan Code* button, and the app should bring up a barcode scanner. Hold this up to the code you displayed on Rosemary and it will automatically connect. If this doesn't work, you can still enter the code manually. If you need to enter it manually please click the *Add Manually* button enter "https://rosemary-accounts.co.uk" in the first box of the pop-up, and the code that you generated in Rosemary in the second. After this is done, go back to the main screen in the app

Now that the phone is connected, Accounting Scrapbook can share data with Rosemary. We should try this out. Please make sure the phones are connected to the internet via either Wi-Fi or a data connection (3G etc.):

**In Accounting Scrapbook** from the main menu, open the side-bar (swipe from the left or select the button in the top-left corner). Select the *Share* item from the menu. From this screen you can select a scrapbook, and share its contents to any services that you've 'connected' (in this case Rosemary.) You should see a button to *Choose Scrapbooks*, and then you should see the web address of Rosemary alongside a *Share* button. Choose a few scrapbooks to share by pressing *Choose Scrapbooks* ticking them in the pop-up, and then hitting the *Share* button next to Rosemary. The app will flash a message when it has shared an item, or if it's experienced an error. After this is complete, you're done.

**In Rosemary** wait for the others to share information via their apps. Once they're complete, select the *In-tray* item from the *Activities* menu. The In-tray is a place for all incoming information to live so that you can check it. You should have also noticed that when the page reloads, there is a notification telling you that you have new items in the In-Tray. Inside the In-Tray, you should see a list of all items that have been sent to you. For each item you have three options: Approve will add it to the system (but not make it public); Edit will let you change information in the item such as adding or removing tags and Budget Codes; and Remove will delete it altogether. There are also options to 'Approve all' or 'Remove all' to let you batch process. For each item in the In-Tray, check it over and perform any action you want. Once you're happy, you're done.

This task is now complete, thank you!

*Things to think about*

* Rosemary and Accounting Scrapbook are designed to work together, but also not force you to use either one. For example, you could use Rosemary and another app (or no app). Or you could use Accounting Scrapbook and send the information to a place other than Rosemary.
* Where, if at all, would you like to send accounts information?
* Are there any other features that need supporting?
* Are there any other ways you would like to get information into Rosemary? It doesn't have to be an app - what would make this process easier overall?


### Task 7
Now that you're familiar with collecting data via an app and inputting it into Rosemary, it makes sense that you want to get information back *out* again as well. In this task we're going to detail how to see information about your work and spending via Reports.

Head to the *Reports* page under the Activity menu on the menu bar. On this screen you can generate new reports for any purpose e.g. to summarise and event, to produce a report on spending, etc. We'll first generate a test report to get you familiar by filling out the form. Enter "Test Report" in the Name field, and pick the start date as the 1st of January this year. For the end date, pick today. This means it will create a report that covers everything you've put into Rosemary already. For the options, tick all of them. This means you'll get a good look at everything, and can tweak it later. When you're done, hit the *Generate* button to see the report.

When you've done that you'll be given an option to 'Review' the report. This is to allow you to view it before keeping it or discarding it. Have a look at the report and see if there's anything interesting on it. When you're finished you have three options at the bottom: *Save and Keep Private* will save the report so you can view it later, but not publish it; *Save and Make Public* will save the report and also publish it on your Rosemary Profile page. We'll explain that in a bit; *Remove* will delete the report entirely. For this example, feel free to do anything you want.

Next, head back to the Reports page and generate three more reports, trying out the different options. You can generate reports for your own purposes, but here's a few suggestions if nothing springs to mind straight away:
+ A report of spending and costing to be presented at a trustee's meeting
+ Details of events such as locations, images, and quotes to be presented in an annual return
+ A summary of tags to help you describe your work at a later date

*Things to think about*

* What types of report would you want to generate?
* If you generated different reports for different audiences, who would the audiences be and what would the reports contain?
* What types of report would you keep private, and what types would you make public?
* Are there any options in the report that are missing? Would you want to see something else?
* Are there any options that are inappropriate or need reconsidering?
* What would you like to be able to do with the report after creating it?

### Task 8
Over the last few weeks, you've been exploring the different features of Rosemary and the Accounting Scrapbook app to collect data. For this next task, we'd like you to use the system as a whole to follow an entire piece of work -- both the Rosemary accounts side as well as the mobile app.

Pick a project you're running -- it can be an existing one or one you're just starting and follow it for a week using Rosemary and Accounting Scrapbook. You should use whatever features of the systems you want, but here are some suggestions:

+ Logging any events that occur, including meetings or public events
+ Adding any funding information such as grants or funders
+ Logging expenses, and costing them to the appropriate grants.
+ Collecting quotes and images
+ Tagging items
+ Creating reports for different audiences which include different information


*Things to think about*

* What tags did you use the most?
* Did costs get entered using Rosemary or the Accounting Scrapbook app?
* Who collected the images, and using what means?
* What reports were created? Who were they for?
* Which features were the most useful? The least usefu
{% endfilter %}
