{% filter markdown %}
The purpose of this research is to explore Transparency and Accountability in local Charities and Third-Sector Organisations via producing alternatives to traditional accounting systems. We believe that current accounting models and transparency measures in the UK are inadequate for charities trying to demonstrate their work and spending to their stakeholders and the public.

We think that there is a way to provide charities with tools that allow them to collect data on their spending and work in a way that lets them link it together. When these pieces of information are linked, they can then be used to present different contexts to different stakeholders without much extra effort on the part of the charity. We have produced a prototype tool called *Rosemary Accounts* and a partner app called *Accounting Scrapbook* to explore how these systems might be used in charities; what works and what doesn't and what work still needs to be done.

{% endfilter %}
