<div class="row">
  <h3 class="light">{{posts|length}} items to approve</h3>
</div>

<div class="row">
  {{form_start(form)}}
  <div class="col s3">
    {{form_row(form.approveAll)}}
  </div>
  <div class="col s3">

    {{form_row(form.removeAll)}}
  </div>
  {{form_end(form)}}
</div>


<div class="row">
  {% for post in posts %}

    <div class="col s12">
      {% include 'AppBundle:profile:card_incoming.html.twig' %}
    </div>

  {% endfor %}
</div>
