{% extends 'AppBundle::base.html.twig' %}

{% block title %}Admin Areas={% endblock title %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>This is the admin area</h1>

        <h2>Edit User {{oUser.username}}</h2>

        {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" name="button" class="btn">Update Password</button>
        {{form_end(form)}}
      </div>
    </div>
  </div>

{% endblock body %}
