{% extends 'AppBundle::base.html.twig' %}

{% block title %}Admin Areas={% endblock title %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>This is the admin area</h1>

      <h2>User List</h2>
      <ul>

      {% for u in userList %}
          <li> <a href="{{url('edit-user', {'username': u.username})}}">{{u.username}}</a> </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock body %}
