<li><a href="{{path('control_summary')}}"><i class="material-icons left">show_chart</i>Summary</a></li>
<li class="divider"></li>
<li><a href="{{path('income')}}"><i class="material-icons left">account_balance</i>Income</a></li>
<li class="divider"></li>
<li><a href="{{path('expenses')}}"><i class="material-icons left">credit_card</i>Expenses</a></li>
<li class="divider"></li>
<li><a href="{{path('costing')}}"><i class="material-icons left">compare_arrows</i>Costing</a></li>
<li class="divider"></li>
<li><a  href="{{path('customers')}}"><i class="material-icons left">people</i>Customers and Funders</a> </li>
<li class="divider"></li>
<li><a href="{{path('budget_codes')}}"><i class="material-icons left">label</i>Budget Codes and Tags</a> </li>
<li class="divider"></li>
<li><a href="{{path('import-export')}}"><i class="material-icons left">import_export</i>Import and Export</a></li>
