<li><a href="{{path('incoming_posts')}}"><i class="material-icons left">inbox</i>In-Tray{% if intray > 0 %}<span class="new badge">{{intray}}</span>{% endif %}</a></li>

<li class="divider"></li>

<li><a href="{{path('create_report_page')}}"><i class="material-icons left">assessment</i>Reports</a></li>

<li class="divider"></li>


<li><a href="{{path('my_posts')}}"><i class="material-icons left">description</i>My Activity</a></li>

<li class="divider"></li>

<li><a href="{{path('post_image_page')}}"><i class="material-icons left">add_a_photo</i>Add an Image</a></li>

<li class="divider"></li>

<li><a href="{{path('post_quote_page')}}"><i class="material-icons left">format_quote</i>Add a Quote</a></li>

<li class="divider"></li>

<li><a href="{{path('post_event_page')}}"><i class="material-icons left">add_location</i>Add an Event</a></li>
