  <li><a href="{{path('user_settings')}}"><i class="material-icons left">settings_applications</i>Edit Settings</a></li>
  <li><a href="{{path('configure_apps')}}"><i class="material-icons left">important_devices</i>Configure Apps</a></li>
