{% extends 'AppBundle:profile:card_compound_user.html.twig' %}

{% block form %}
<div class="card-action">
    {% if post.public %}
      <a class="waves-effect waves-light btn blue" href="{{url('swith_post_visibility', {'id':post.id, 'returnTo': app.request.attributes.get('_route')})}}"><i class="material-icons right">visibility_off</i>Make Private</a>
    {% else %}
      <a class="waves-effect waves-light btn green" href="{{url('swith_post_visibility', {'id':post.id, 'returnTo': app.request.attributes.get('_route')})}}"><i class="material-icons right">visibility</i>Make Public</a>
    {% endif %}

    <a class="waves-effect waves-light btn orange" href="{{url('edit_post_page', {'id':post.id})}}" ><i class="material-icons right">edit</i>Edit</a>

    <a class="waves-effect waves-light btn red" href="{{url('remove_post', {'id':post.id}) }}"><i class="material-icons right">clear</i>Remove</a>
</div>
{% endblock form %}
