<div class="card">
  <div class="card-content">
    <span class="card-title">{{report.name}}</span>

    {% include 'AppBundle:report:report-glance.html.twig' with {'data': report_data.at_a_glance} only %}

    <a class="btn" href="{{url('social_profile_report', {'username': username, 'reportId': report.id})}}">View Report</a>
  </div>
</div>
