{% for post in organisation.posts|reverse %}

  {% if post.reconciled %}
  <div class="col s12">

    {% include 'AppBundle:profile:card_compound_profile.html.twig'  %}

  </div>
  {% endif %}
  {% else %}
      <p class="light">
        Looks that this organisation hasn't posted yet!
      </p>
{% endfor %}
