<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="{{path('index')}}" class="brand-logo"><img src="{{asset("img/test.svg")}}" alt="hello" /></a>



    {# Displayed on web view, at the top of the page #}
    <ul class="right hide-on-med-and-down">

      {% if not app.user %}
        {# <li><a href=" ">Features & Pricing</a></li>#}
        <li><a href="{{path('login')}}">Login</a></li>
        <!-- <li><a href="{{path('user_registration')}}">Register</a></li> -->
      {% endif %}

    </ul>

    <ul class="right hide-on-med-and-down">
      <li><a href="{{path('social_organisations')}}">Organisations</a></li>

    </ul>

    {# Displayed on mobile view, in the side bar #}
    <ul id="nav-mobile" class="side-nav">
      <li><a href="{{path('social_organisations')}}">Organisations</a></li>
      {% if not app.user %}

        <li><a href="{{path('login')}}">Login</a></li>
        <li><a href="{{path('user_registration')}}">Register</a></li>
      {% endif %}
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
