{% extends 'AppBundle::base.html.twig' %}

{% block title %}Get Accounting Scrapbook{% endblock title %}

{% block body %}

{% include 'AppBundle:landing:navbar.html.twig' %}

<div class="container">
  <div class="row center">
    <div class="col s12">
      <h1>Accounting Scrapbook</h1>
      <p>
        Accounting Scrapbook is an app that helps you collect data about your work.
      </p>

      <p>
        It's designed to be compatible with Rosemary and should be used by anyone who is looking to send you information for sorting. You can collect the same types of information as Rosemary: images, locations, quotations, and spending but on the move. If you don't have it already, you can download it using the button below.
      </p>

      <a href="https://openlab.ncl.ac.uk/accounting-scrapbook/as_latest.apk" target="_blank" class="btn">Download</a>
      <p>
        The app should be straightforward to use, but we've detailed the features you're likely to use below. Please contact <a href="mailto:m.marshall@ncl.ac.uk">m.marshall@ncl.ac.uk</a> if you have any questions or issues
      </p>
    </div>

  </div>

  <br>

  <div class="row center">
    <h2 class="light">Scrapbooks</h2>
    <p>
      Scrapbooks are collections of items that are all related to each other. You can add them by pressing the large <strong>+</strong> button on the app's main screen. Each scrapbook can have a name which you decide (e.g. <em>Events</em>), a colour, and some tags. Tags are just one-word descriptions for items inside the Scrapbook such as <em>#events, #thursdays, #play-work</em> etc. They work the same as the tags inside of Rosemary.
    </p>

    <img src="{{asset('img/tutorial_screenshots/screen_scrapbooks.png')}}" alt="App Main Screen" height="30%" width="30%" />
  </div>

  <div class="row center">
    <h2 class="light">Adding Items</h2>
    <p>
      It's fairly easy to add items. First, open the menu on the left by either swiping or pressing the menu button. Choose the type of item you want to add, and fill out the details. Some will need images, and some will want you to choose a location on a map. Items can belong to more than one Scrapbook for example an item might be in an <em>Events</em> scrapbook as well as a <em>Costs</em> one. Items have tags as well, and these ones should describe the item in more specific detail than the ones in the scrapbooks.
    </p>

    <img src="{{asset('img/tutorial_screenshots/screen_add_items.png')}}" alt="App Main Screen" height="30%" width="30%" />

  </div>

  <div class="row center">
    <h2 class="light">Sharing Items</h2>
    <p>
      Sharing items is also straightforward but requires a small bit of set-up. First, you need to connect the app to your organisation's Rosemary account. This is so that you don't need an account to use the app, but Rosemary can still make sure it's you that's sharing information. In the future there also may be other services that you can share data to.
    </p>

    <img src="{{asset('img/tutorial_screenshots/screen_manage_sharing.png')}}" alt="App Main Screen" height="30%" width="30%" />
    <img src="{{asset('img/tutorial_screenshots/screen_sharing.png')}}" alt="App Main Screen" height="30%" width="30%" />

  </div>

  <!-- <div class="row center">
    <div class="col s12 m6">
      <h2 class="light">Scrapbooks</h2>
      <p>
        Scrapbooks are collections of items that are all related to each other. You can add them by pressing the large <strong>+</strong> button on the app's main screen. Each scrapbook can have a name which you decide (e.g. <em>Events</em>), a colour, and some tags. Tags are just one-word descriptions for items inside the Scrapbook such as <em>#events, #thursdays, #play-work</em> etc. They work the same as the tags inside of Rosemary.
      </p>
    </div>

  </div>
  <div class="row center">
    <div class="col s12 m6">
      <img src="{{asset('img/tutorial_screenshots/screen_scrapbooks.png')}}" alt="App Main Screen" height="100%" width="100%" />
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
    </div>


  </div>

  <div class="row">
    <div class="col s12 m6">
      <h2 class="light">Adding Items</h2>
      <p>
        It's fairly easy to add items. First, open the menu on the left by either swiping or pressing the menu button. Choose the type of item you want to add, and fill out the details. Some will need images, and some will want you to choose a location on a map. Items can belong to more than one Scrapbook for example an item might be in an <em>Events</em> scrapbook as well as a <em>Costs</em> one. Items have tags as well, and these ones should describe the item in more specific detail than the ones in the scrapbooks.
      </p>
    </div>

    <div class="col s12 m5 offset-m1 center">
      <img src="{{asset('img/tutorial_screenshots/screen_add_items.png')}}" alt="App Main Screen" height="100%" width="100%" />
    </div>

  </div>

  <div class="row">
    <div class="col s12 m6">
      <h2 class="light">Sharing Items</h2>
      <p>
        Sharing items is also straightforward but requires a small bit of set-up. First, you need to connect the app to your organisation's Rosemary account. This is so that you don't need an account to use the app, but Rosemary can still make sure it's you that's sharing information. In the future there also may be other services that you can share data to.
      </p>

      <p>
        <strong>First</strong>, <a href="{{path('configure_apps')}}" target="_blank">create a code for the app inside of Rosemary</a>. When you have this, open <em>Manage Sharing</em> inside the app from the main menu and you can add Rosemary using the code by either scanning it or entering it manually.
      </p>

      <p>
        <strong>Second</strong>, open the sharing screen in the app through the main menu. Simply select the scrapbooks you want to share and then hit the 'share' button next to Rosemary's address. The app will let you know when sharing is finished
      </p>
    </div>

    <div class="col s12 m5 offset-m1 center">
      <img src="{{asset('img/tutorial_screenshots/screen_manage_sharing.png')}}" alt="App Main Screen" height="100%" width="100%" />
      <img src="{{asset('img/tutorial_screenshots/screen_sharing.png')}}" alt="App Main Screen" height="100%" width="100%" />

    </div>
  </div> -->
</div>


{% endblock body %}
