{% extends 'AppBundle::base.html.twig' %}

{% block title %}Tasks{% endblock title %}

{% block body %}

{% include 'AppBundle:landing:navbar.html.twig' %}


<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="center">Research</h1>
      <p>
        Thank you for taking your time to help Matt's research with Rosemary accounts and Accounting Scrapbook. You should have already received your information via email, but this page can serve as a reference point and quick access.
      </p>
    </div>
  </div>

  <div class="row">
    <h2 class="center">Purposes of the Research</h2>
    {% include 'AppBundle:text:research_purpose.html.twig'  %}

  </div>

  <div class="row">
    <h2 class="center">Research Procedure</h2>
    {% include 'AppBundle:text:research_procedure.html.twig'  %}
  </div>

  <div class="row">
    <h2 class="center">Tasks</h2>
    <p>
      The following sections are the short tasks that will guide you through the research. They're designed to help you explore Rosemary and Accounting Scrapbook, but feel free to explore on your own as well. Thanks again for your participation.
    </p>

    {% include 'AppBundle:text:research_tasks.html.twig' %}
  </div>

</div>

{% endblock body %}
