{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{organisation.organisationName}}'s Re[prt {{report.name}}]'{% endblock title %}

{% block body %}
  {% include 'AppBundle:landing:navbar.html.twig' %}

  {# Profile Info #}
  {% include 'AppBundle:profile:profile_header.html.twig'  %}

  <div class="container">
    <div class="row">
      <h2 class="light">{{report.name}}</h2>

    </div>

    <div class="row">
      <div class="col s12">
        {% include 'AppBundle:report:report-base.html.twig' with {'report': report} %}
      </div>
    </div>

  </div>

{% endblock body %}
{% block script %}
  <script type="text/javascript" src="{{asset('js/profile-maps.js')}}"></script>
{% endblock script %}
