{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{organisation.organisationName}}{% endblock title %}

{% block body %}
  {% include 'AppBundle:landing:navbar.html.twig' %}

  {# Profile Info #}
  {% include 'AppBundle:profile:profile_header.html.twig'  %}

  <div class="container">
    <div class="row">
      <h2 class="light">Live Feed</h2>
    </div>

    <div class="row">
      {% if  organisation.userSettings.timelineEnabled %}
        {% include 'AppBundle:profile:component_timeline.html.twig'  %}
      {% else %}
      <p>
        This organisation has chosen not to show you a live version of their accounts. There are many legitmate reasons for doing this, such as accounts not presenting an accurate view of how the organisation manages its work and spending. Please check out the reports that the organisation has released, as they may contain individual posts.
      </p>
      {% endif %}

    </div>
  </div>

{% endblock body %}
{% block script %}
  <script type="text/javascript" src="{{asset('js/profile-maps.js')}}"></script>
{% endblock script %}
