{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{organisation.organisationName}}{% endblock title %}

{% block body %}
  {% include 'AppBundle:landing:navbar.html.twig' %}

  {# Profile Info #}
  {% include 'AppBundle:profile:profile_header.html.twig'  %}

  <div class="container">
    <div class="row">
      <h2 class="light">Latest Reports</h2>
    </div>



    <div class="row">
      {% for entry in reportData %}
        {% include 'AppBundle:profile:component_report_timeline.html.twig' with {'username': organisation.username, 'report': entry.report, 'report_data': entry.report_data} only %}

        {% else %}
            <p>
              There don't appear to be any reports released yet! Check back soon.
            </p>
      {% endfor %}

    </div>
  </div>

{% endblock body %}
{% block script %}
  <script type="text/javascript" src="{{asset('js/profile-maps.js')}}"></script>
{% endblock script %}
