{% extends 'AppBundle::base.html.twig' %}

{% block title %}Registration is closed{% endblock title %}

{% block body %}

  {% include 'AppBundle:landing:navbar.html.twig' %}

  <div class="section">
    <div class="row">
      <h1 class="light center">Registration is closed</h1>
    </div>

    <div class="row">
      <div class="col m6 offset-m3">
        <p>Hi there! Registrations are now closed. This is because the research is winding up, and to ensure we remain GDPR-compliant we can't accept any new registrations.
        </p>
        <p>
          On the up-side. Rosemary is free and open-source software, and whilst there's no guarantee that Matt will be able to maintain it after the PhD is completed; you can <a href="https://gitlab.com/mrshll1001/rosemary-accounts/">download it yourself</a> to run on your website.
        </p>
      </div>
    </div>
  </div>

{% endblock body %}
