<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock title %} :: Rosemary Accounts UK</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{asset("css/materialize.css")}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{asset("css/style.css")}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Leaflet -->

  <!-- <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script> -->

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"> </script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{asset("js/materialize.js")}}"></script>
  <script src="{{asset("js/init.js")}}"></script>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
</head>

<body>
{% block body %}

{% endblock body %}

  <!--  Scripts-->


  <script type="text/javascript">

  $(document).ready(function(){
      $('.carousel.carousel-slider').carousel({fullWidth: true});
    $('#quotes-carousel').carousel({fullWidth: true});
    $('.carousel').carousel();
    $('.collapsible').collapsible();
    $('.hidden').hide();
  });

  $(".dropdown-button").dropdown();

  $('.datepicker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15, // Creates a dropdown of 15 years to control year
  format: 'yyyy-mm-dd',
  formatSubmit: 'yyyy-mm-dd',
  hiddenPrefix: 'prefix__',
  hiddenSuffix: '__suffix'
});

// Allows tags to be added via a click of a button
$('.add-tag').click(function(){

  tagfield = $('#form-wrapper').find('.tag-field');
  // tagfield = $(this).parent().parent().parent().parent().find('.tag-field');
  contents = tagfield.val();

  if(contents != "" && (contents[contents.length -1 ] != " " || contents[contents.length -2] != ",") )
  {
    contents = contents + ", " + $(this).data("tag") + ", ";
  } else {
    contents = contents + $(this).data("tag") + ", ";
  }

  tagfield.val(contents);
});

$('.hidden-toggle').click(function(){
  $('.hidden').toggle();
});



  </script>

  {% block script %}{% endblock script %}

</body>
