{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Budget Codes{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12 m12 ">
      <div class="card">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#add_budget_code">Add a Budget Code</a></li>

            <li class="tab"><a href="#tag_count">Tags</a></li>
          </ul>
        </div>

        <div class="card-content">
          <div id="add_budget_code">
            {% include 'AppBundle:user/form:add_budget_code.html.twig' %}

            <br />
            <br />
            <h5 class="light">Existing Budget Codes</h5>
            {% for budgetCode in budgetCodes %}
              <div class="chip">
               ({{budgetCode.budgetCodeNumber}})  {{budgetCode.name}}
              </div>
            {% endfor %}
          </div>

          <div id="tag_count">


            {% include 'AppBundle:user/form:search_tags.html.twig' with {'baseurl': path('budget_codes') ~ '/' }  %}

            <br> <br>

            {% for tag in ordered_tags %}
              <div class="chip">
                {{tag.tag}} ({{tag.number}})
              </div>
            {% endfor %}
          </div>

        </div>

      </div>
    </div>
  </div>

  {% if results is not null %}
  <div class="row">
    <h5 class="light">Search Results</h5>
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Filter by Tag</span>
        </div>
        <div class="card-tabs">
          <ul class="tabs">
            <li class="tab"><a href="#results_posts" class="active">Results</a></li>
            {% for tag in requested_tags %}
            <li class="tab"><a href="#{{tag.name}}_posts">{{tag.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="results_posts">
      {% for post in results %}
      <div class="col s12 m6">
        {% include 'AppBundle:profile:card_compound_user.html.twig' %}
      </div>
      {% endfor %}
    </div>

    {% for tag in requested_tags %}
      <div id="{{tag.name}}_posts">
        {% for post in tag.posts %}
          <div class="col s12 m6">
            {% include 'AppBundle:profile:card_compound_user.html.twig' %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  {% endif %}

</div>

{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{{asset('js/profile-maps.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/tags-searchbox.js')}}"></script>
{% endblock script %}
