date,amount,description,customer,tags
{% for p in posts %}
{{p.dateGiven|date('d/m/Y')}},{{p.financialValue}},{{p.description|raw}},{% if p.customer is not null %}{{p.customer.name|raw}}{% else %}null{% endif %},{% for tag in p.tags%}{{tag.name|raw}} {% endfor %}

{% endfor %}
