{% extends 'AppBundle:user/component/cards:card_base.html.twig' %}

{% block card_title %}Most used Tags{% endblock card_title %}

{% block card_content %}
<br>

{% for tag in tag_count %}
  {% set text = "#{tag.tag} (#{tag.number})" %}
  {% include 'AppBundle:user/component/chips:tag_to_tagsearch.html.twig' with {'tagstring': tag.tag, 'text': text} %}
{% endfor %}

{% endblock card_content %}
