{% extends 'AppBundle:user/component/cards:card_base.html.twig' %}

{% block card_title %}Budget Code Spending{% endblock card_title %}

{% block card_content %}

<table class="bordered">
  <thead>
    <th>
      Budget Code
    </th>
    <th>
      Spending
    </th>
  </thead>
  <tbody>
    {% for item in budget_code_spending %}
        <tr>
          <td>
            {{item.name}}
          </td>

          <td>
            {{item.total|fintotal}}
          </td>
        </tr>
      {% else %}
          <p class="light">
            Nothing to show! <a href="{{url('budget_codes')}}">Add some Budget Codes and tags</a> to get started. 
          </p>
    {% endfor %}
  </tbody>
</table>

{% endblock card_content %}
