{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Add a Quote{% endblock title %}

{% block content %}
<div class="container">

<div class="row">
  <div class="col s12 m12">

    <div class="card">
      <div class="card-content">
        <span class="card-title">Add a Quote</span>

        <div id="form-wrapper">

          {{form_start(form)}}
          <div class="row">
            <div class="col s12 m8">
              {{form_row(form.quoteContent)}}
            </div>

            <div class="col s12 m4">

              {{form_row(form.quoteAttribution)}}
            </div>
          </div>

          <div class="row">
            <div class="col s12 m3">
              {{form_row(form.dateGiven)}}
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              {{form_row(form.tags)}}
            </div>
          </div>

          <div class="row">
            <div class="col s12 m12">
              {% include 'AppBundle:user/form:clickable_tags.html.twig' with {'tags': suggestedTags} %}
            </div>
          </div>

          <button type="submit" name="submit" class="btn">Add</button>


          {{form_end(form)}}
        </div>
      </div>


    </div>

  </div>
</div>

</div>

{% endblock content %}

{% block script %}

<script type="text/javascript">

$('#testButton').click(function(e)
{
    alert($('#expense_dateGiven').val());
});

$('.chips').material_chip();

$('.chips').on('chip.add', function(e, chip){
  updateChipInput(this);
})
.on('chip.delete', function(e, chip){
  updateChipInput(this);
});

function updateChipInput(chip){
     var newval= $(chip).material_chip('data')
        .reduce(function(result,val){ result.push(val.tag); return result;},[]).join(",")

     $('input[name="quote_post[tags]"]').val(newval);
   }
</script>

{% endblock script %}
