{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Add an Image{% endblock title %}

{% block content %}
<div class="container">


  <div class="row">
    <div class="col s12 m12">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Add an Image</span>

          <div id=form-wrapper>
            {{ form_start(form) }}

              {{form_row(form.description)}}

              <div class="file-field input-field">
                <div class="btn">
                  <span>Choose File</span>
                    {{ form_widget(form.media) }}
                </div>

                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
              </div>

              {{form_row(form.dateGiven)}}

              {{form_row(form.tags)}}

              <div class="row">
                <div class="col s12 m12">
                  {% include 'AppBundle:user/form:clickable_tags.html.twig' with {'tags': suggestedTags} %}
                </div>
              </div>

              <button type="submit" name="submit" class="btn">Add</button>


            {{ form_end(form) }}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock content %}


{% block script %}

<script type="text/javascript">

$('#testButton').click(function(e)
{
    alert($('#expense_dateGiven').val());
});

$('.chips').material_chip();

$('.chips').on('chip.add', function(e, chip){
  updateChipInput(this);
})
.on('chip.delete', function(e, chip){
  updateChipInput(this);
});

function updateChipInput(chip){
     var newval= $(chip).material_chip('data')
        .reduce(function(result,val){ result.push(val.tag); return result;},[]).join(",")

     $('input[name="image_post[tags]"]').val(newval);
   }
</script>

{% endblock script %}
