{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Edit Post{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <h1 class="light">Edit Post</h1>
    </div>

    <div class="row">
      <div class="col s12">

        <div class="card">
          <div class="card-content">

            {% for tag in existing_tags %}
              <div class="existing_tag" data-tag="{{tag.name}}" ></div>
            {% endfor %}

            {{form_start(form)}}
              {{form_widget(form)}}

              <br> <br>

              <div class="card-action">
                <button type="submit" class="waves-effect waves-light btn green " name="button"><i class="material-icons right">done</i>Update and Approve</button>
                {{form_end(form)}}
              </div>
          </div>
        </div>

      </div>
    </div>

  </div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{{asset('js/tags-edit-post.js')}}"></script>

{% endblock script %}
