{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Costing{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="light">Costing</h1>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <p class="light">
        This page is to cost items. You can see a list of your income, and apply expenditure to it in order to see what remains in each fund.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">

      {% for item in funder_form_map %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{item.funder.name}}</span>
          <ul class="collapsible popout" data-collapsible="accordion">

            {% for fund in item.map %}
            <li>
              <div class="collapsible-header">
                <i class="material-icons">expand_more</i>
                <strong>{{fund.post.description}}</strong> <span class="green-text">{{fund.post.getTotalCostedSpend()|fintotal}} spent of {{fund.post.financialValue|fintotal}}</span>
              </div>

              <div class="collapsible-body">

                    {% for child in fund.post.children %}
                    {% if loop.first %}
                    <table class="table bordered highlight centered">
                      <thead>
                        <th>
                          Item
                        </th>
                        <th>
                          Cost
                        </th>
                        <th>
                          Action
                        </th>
                      </thead>
                      <tbody>

                    {% endif %}
                    <tr>
                      <td>
                        {{child.description}}
                      </td>
                      <td>
                        {{child.financialValue|fintotal}}
                      </td>
                      <td>
                        <a class="btn red" href="{{url('remove_post_costing', {'id': child.id})}}"><i class="material-icons right">clear</i>Uncost</a>
                      </td>
                    </tr>

                    {% if loop.last %}
                    </tbody>
                    </table>
                    {% endif %}

                    {% else %}
                        <p>
                          There is no costing associated with this, add one below!
                        </p>

                    {% endfor %}

                    {% include 'AppBundle:user/form:post_add_costing.html.twig' %}

            {% endfor %}

        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock content %}
