{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}In-Tray{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <h1 class="light">In-Tray</h1>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <p class="light">
        This is your <strong>In-Tray</strong>. It contains items that have come into your Rosemary Account from elsewhere. Perhaps you're <a href="{{path('configure_apps')}}">using apps</a> to help your team send you their accounts, or maybe you've been using our <a href="{{path('import-export')}}">import feature</a> to enter your accounts from elsewhere. Either way you probably want to take a look at them before they enter your accounts information, so you can approve or edit them.
      </p>

      <p class="light">
        When an item is in here, it isn't considered in any budget summaries or calculations made by Rosemary and like everything else; it is considered private until you publish it. So even after you've approved of an item, nobody can see it until you let them.
      </p>

      <p class="light">
        All you need to do to approve of something is to click Approve, and it gets added to your accounts. Before approving, you have the opportunity to edit the item by changing details; you may want to add or remove tags, or add data to the item such as location, or costing against a Funder.
      </p>

      <p class="light">
        Alternatively, you can Remove an item. When removed, it is removed from the system altogether. There can be several reasons to do this, but most of the time you will want to edit the post instead of deleting it.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#all">All</a></li>
        <li class="tab"><a href="#fromImport">From Import</a></li>
        <li class="tab"><a href="#fromApp">From App</a></li>
      </ul>
    </div>
      </div>
    </div>
  </div>

  <div id="all">
    {% include 'AppBundle:user/component/lists:list_unreconciled_posts.html.twig' with {'posts': posts_all, 'form': clear_all_form} only %}
  </div>

  <div id="fromImport">
    {% include 'AppBundle:user/component/lists:list_unreconciled_posts.html.twig' with {'posts': posts_import, 'form': clear_all_form} only %}

  </div>

  <div id="fromApp">
    {% include 'AppBundle:user/component/lists:list_unreconciled_posts.html.twig' with {'posts': posts_app, 'form': clear_all_form} only %}

  </div>





{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{asset('js/profile-maps.js')}}"></script>
{% endblock script %}
