{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Import and Export{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="light">Import and Export Accounts</h1>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Import Accounts</span>
          <p class="light">
            You can use this form to upload your accounts to Rosemary. At the moment, this feature is still in Beta which means that some kinks may not have been worked out. Nothing bad can happen to your data, but Rosemary may have trouble reading your accounts file if it's never come across it before. There are a few requirements to use import:

            <ol>
              <li>
                You must use a <strong>.csv</strong> file format. Microsoft Excel and LibreOffice Calc documents can be exported as .csv by going to <em>File -> Save As</em> and selecting <em>CSV</em>
              </li>

              <li>
                The file must be a plain table. This means there is nothing above, below, or to the side of the information. This may mean deleting extra information contained in the file.
              </li>
            </ol>
          </p>


          {% include 'AppBundle:user/form:import_csv_form.html.twig' %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Export Accounts</span>
          <p class="light">
            Rosemary is research software, and we don't expect you to use it forever. If you've been using Rosemary to manage your accounts (thank you!), then you may want to export these to use elsewhere. Clicking the button below will fetch all of the records in Rosemary that you tell it to, and give you a .csv file that you can use to copy and paste into your spreadsheet or other accounts software.
          </p>

          {% include 'AppBundle:user/form:export_csv_form.html.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
