{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Configure Import{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="light">Configure Imports</h1>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <p class="light">
        Here you can tell Rosemary how we should read your Accounts file. Follow the instructions below for a quick tutorial!
      </p>

      <ol>
        <li>Take a look at the table below. It should look a lot like your Accounts file. This is so you can sense-check it to make sure Rosemary has read it ok. Displayed should be the first five entries.</li>

        <li>Everyone's accounts are different, so we need your help translating your data to a format Rosemary understands. Take a look at the form underneath the table. You'll see that it has the names of things Rosemary usually asks for when you enter an account</li>

        <li>Next to each entry in the form is a dropdown box, this will contain the headings or column names Rosemary detected from your accounts file. For each dropdown, we need you to choose the one that most closely matches the one we use in Rosemary. If there are things your Accounts don't have, just choose "None".</li>

        <li>Once you're happy, press continue. You'll be given the opportunity to check an example, and to return here if it didn't work how you wanted.</li>

        <li>If you're happy with the example click "OK" and Rosemary will begin importing your accounts. You'll be taken to a screen which has a list of all of these so you can edit them if you need (for example adding Tags or images).</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Step 1: Check Your File</span>
          <p class="light">
            This is what Rosemary picked up from your file. Does it look right? If so, please move onto the next step. If not, please <a href="mailto:m.marshall@ncl.ac.uk">email the developer</a>
          </p>
          <table class="border">
            <thead>
              {% for h in csv_headings %}
                <th>
                  {{h}}
                </th>
              {% endfor %}
            </thead>
            <tbody>
              {% for row in csv_data %}
              <tr>
                {% for col in row %}
                <td>
                  {{col}}
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m4 offset-m4 l8 offset-l2">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Step 2: Help us Translate</span>

            {% include 'AppBundle:user/form:configure_import_data.html.twig' %}

          </div>
        </div>
    </div>
  </div>

</div>

{% endblock content %}
