{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Reviewing {{report.name}} {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="light">Review Report</h1>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <p class="light">
        You are currently reviewing the report called <strong>{{report.name}}</strong>. Currently, you are the only one who can see this.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {% include 'AppBundle:report:report-base.html.twig' with {'report': report, 'report_data': report_data} only %}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
    {% include 'AppBundle:user/form:review_form_multisubmit.html.twig' with {'form': form} %}
    </div>
  </div>

</div>


{% endblock content %}
