{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}{{report.name}}{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="light">{{report.name}}</h1>
    </div>
  </div>

  <div class="row">

    <div class="col s12">
      {% include 'AppBundle:report:report-base.html.twig' with {'report': report} %}
    </div>


  </div>
</div>

{% endblock content %}
