{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Configure Apps{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="light">Configure Apps</h2>

        <p class="light">
          Apps can help you and your team collect data to use on your Rosemary profile. This data can be receipts, events, or other forms of data supported by Rosemary. Using apps can help take the pressure off of the person cultivating the accounts and profile, as it allows other team members to join in on data collection. We recommend <a href="{{path('accounting-scrapbook')}}" target="_blank">Accounting Scrapbook</a>
        </p>

        <p class="light">
          To get started, follow the instructions below.
        </p>

        <ol class="light">
          <li>Get <a href="{{path('accounting-scrapbook')}}" target="_blank">Accounting Scrapbook</a> installed on your phone</li>
          <li>On the form below, enter a name that makes sense to you and will help you identify where the data is coming from, e.g. the name of a team member</li>

          <li>This will generate a 10 digit code. On your app, wherever you add a service, enter <code>http://rosemary-accounts.co.uk</code> alongside your code (Note, some apps may call this <em>API Key</em>)</li>

          <li>Done! Repeat the previous steps for each new code you want to generate, for everyone you want to collect data for you</li>
        </ol>

      </div>
    </div>

    <div class="row">
      <div class="col s12">
        {{form_start(form)}}
          {{form_row(form.name)}}
          <button type="submit" name="submit" class="btn right">Add</button>
        {{form_end(form)}}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Current Codes</span>
            <table>
              <thead>
                <tr>
                  <th>
                    Name
                  </th>

                  <th>
                    Code
                  </th>

                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for token in tokens %}
                    <tr>
                      <td>
                        {{token.name}}
                      </td>

                      <td>
                        {{token.token}}
                      </td>

                      <td>
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal-{{token.id}}">Scan Code</a>
                        <a class="btn" href="{{url('remove_app_token', {'id': token.id})}}">Delete</a>
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>


  </div>

  {# MODALS FOR QR CODES #}
  {% for token in tokens %}
  <div id="modal-{{token.id}}" class="modal">
    <div class="modal-content">
      <h4>Token for {{token.name}}</h4>
      <p>You can scan this with your phone to quickly add Rosemary Accounts to apps that you may use.</p>

      <div class="row">
        <div class="col m12 center">
          {# Set a twig variable to use as the string#}
          {% set json = '{url: "https://rosemary-accounts.co.uk", token: "'~ token.token ~ '"}'|raw  %}
          <img src="{{ qrcode_path(json) }}" />

        </div>
      </div>

      <p>
        Preview: {{json}}
      </p>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  {% endfor %}
{% endblock content %}

{% block script %}
<script type="text/javascript">

$(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
});

</script>
{% endblock script %}
