{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Create a Report{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="light">Reports</h1>
      <p class="light">
        A report acts as a summary of your activity between two dates that you decide. Creating a report is simple, and gives you the chance to share what you do with the world. What you use reports for is up to you. There are only a few steps needed to create a report.
      </p>

      <ol>
        <li>
          Choose a name, and some dates, for the report. The report will look at all of your activity between the two dates you give.
        </li>

        <li>
          Choose some options. Reports need to be different for different audiences. Choose what to include from the options shown including: Expenses Summary, Income Summary, Images, Events and Locations, and Tags.
        </li>

        <li>
          Review the report. Once the report is generated you have the option of reviewing it. If it includes something you don't like, then you can go back and reconfigure the report here.
        </li>

        <li>
          Keep, publish, or discard the report. Once you've reviewed the report you can choose to keep it for yourself, publish it to your profile, or discard it completely. Keeping it for yourself means that nobody else sees the report, just you. Publishing the report means that it appears on your profile, and the items within it are viewable by the public. Discarding the report deletes it.
        </li>
      </ol>

    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#add_report">New Report</a></li>
            <li class="tab"><a href="#all_reports">All Reports</a></li>
          </ul>
        </div>

        <div class="card-content">
          <div id="add_report">
            {% include 'AppBundle:user/form:create_report.html.twig' %}

          </div>

          <div id="all_reports">
            {% include 'AppBundle:user/component/table:all_reports.html.twig' %}

          </div>


        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
