{% extends 'AppBundle:user:control_panel.html.twig' %}

{% block title %}Settings{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="light">Settings</h2>



      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card">

          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active" href="#my_profile">My Profile</a></li>
              <li class="tab"><a href="#my_settings">My Settings</a></li>
            </ul>
          </div>


          <div class="card-content">

            <div id="my_profile">
              {% include 'AppBundle:user:form/update_profile_form.html.twig' with {"form": profileForm} only %}
               <br> <br>
              <span class="card-title">Edit Password</span>
              <p class="light">
                You can edit your password here
              </p>
              {% include 'AppBundle:user:form/update_password_form.html.twig' with {"form": passwordForm} only %}


            </div>

            <div id="my_settings">
              <p class="light">
                You can adjust your settings here, such as whether you also want to provide a 'live feed' of your accounts to viewers in addition to reports. <strong>Remember to click Apply in order to make the changes.</strong>
              </p>
              <br>
              {% include 'AppBundle:user:form/edit_settings.html.twig' with {"form": settingsForm} %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
